body{
	background: #659999;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  /*background-color: blue;*/
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

.container{
	margin: 100px auto 0 auto;
}
.main{
	width: 350px;
	margin: 0 auto;
	border: 1px solid black;
}
.input-div input{
	width: 100%;
	/*padding: 0;*/
	border: none;
}
li.task-single{
	width: 100%;
	height: 20px;
	padding: 5px;
	margin-bottom: 4px;
	list-style-type: none;
	margin-left: -40px;
}
.task-single a{
	float: right;
	height: 20px;
	text-decoration: none;
}
.checked {
	text-decoration: line-through;
}
